
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h2{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
}
.navbar{
    width: 100%;
    position: fixed;
    z-index: 100;
}
.img--fullW{
    width: 100%;
    display: block;
}
.navbar__title{
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    width: 270px;
    height: 48px;
    top: 0;
    bottom: 0;
    color: #9bc651;
    text-align: center;
}
.navbar__title h1{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
}
.navbar__icons{
    right: 0;
    top: 0;
    bottom: 0;
    height: 38px;
    margin: auto;
    position: absolute;
}
.navbar__icons__img{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.front {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

.font--light {
    font-weight:300;
}
.masterhead{
    width: 100%;
    position: relative;

    -webkit-box-shadow: inset 0 -5px 0 0 rgba(133,182,65,1);
    -moz-box-shadow: inset 0 -5px 0 0 rgba(133,182,65,1);
    box-shadow: inset 0 -5px 0 0 rgba(133,182,65,1);
}
.masterhead__img{
    z-index: -1;
}
.masterhead__text{
    max-width: 422px;
    color: #ffffff;
    -webkit-align-self: center;
    align-self: center;
    margin-top: 70px;
    margin-left: 40px;
    opacity: 0;
}
.masterhead__text p{
    font-size: 9.3pt;
    line-height: 19pt;
}
.masterhead__container{
    top: 0;
    height: 100%;
    max-width: 1100px;
    margin: auto;
    right: 0;
    left: 0;
    position: absolute;

    -webkit-justify-content: space-between;
    justify-content: space-between;
}
#container{
    max-width: 1100px;
    margin: auto;
    position: relative;
    padding: 10px 40px 80px 40px;
}
#container h1{
    font-weight: 400;
}
.container__img{
    width: 48%;
    padding-right: 15px;
    -webkit-transform: translateY(208px);
    -ms-transform: translateY(208px);
    transform: translateY(208px);

    -webkit-align-self: flex-end;
    align-self: flex-end;
}
.content__text{
    padding: 42px 0;
    -webkit-align-items: flex-end;
    align-items: flex-end;

    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.content__text__div{
    width: 47%;
    min-width: 367px;
}
.content__text__div h2{
    color: #222626;
}
.content__text__div h5{
    font-weight: 400;
    color: #959595;
    line-height: 18pt;
}
.boxgrid__item{
    height: 210px;
    overflow: hidden;
    color: white;
    padding: 70px 36px 0 36px;
    min-width: 300px;
}
.boxgrid__item:nth-child(2){
    max-width: 300px;
}
.boxgrid__item:nth-child(1){
    flex: 1 0 0;
}
.boxgrid__item h2{
    font-weight: 300;
}

.backgroundcolor1{
    background-color: #43463e;
}
.backgroundcolor2{
    background-color: #37461d;
}
.backgroundcolor3{
    background-color: #091e28;
}
.backgroundcolor4{
    background-color: #73933c;
}
.boxgrid__item__details h5{
    font-weight: 400;
}
.boxgrid__item__details{
    height: 75px;
    margin-top: 30px;
}
.boxgrid__link{
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}
.text--small{
    font-weight: 300;
    font-size: 13px;

}
.flex--row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.flex--wrap{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex--nowrap{
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.hideOnMobile{
}
.hideOnDesktop{
    display: none;
}
#navbar__menu__content{
    position: absolute;
    margin-top: 5px;
    right: 10px;
    background-color: rgba(255,255,255,0.8);
    overflow: hidden;
    height: 0;
    z-index: -1;
    opacity: 0;
    width: 163px;
}
#navbar__menu__content ul{
    list-style-type: none;
    padding: 0;
    margin: 20px;
}
#navbar__menu__content a{
    text-decoration: none;
    line-height: 200%;
}
.navbar__search, .navbar__menu{
    margin: auto 0;
    padding: 0 20px;
}

#search__input{
    height: 30px;
    color: #9bc651;
    text-transform: uppercase;
    padding-right: 5px;
    opacity: 0;
    width: 0;
    display: none;
}
.search--active img{
    position: absolute;
    left: 25px;
    height: 20px;
    top: 9px;
    width: auto!important;
    z-index: 102;
}
.search--active input{
    height: 30px;
    color: #9bc651;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid dimgrey;
    padding-left: 30px;
    display: block!important;
}
@media screen and (max-width: 960px) {
    h1{
        font-size: 17pt;
    }
    .hideOnMobile{
        display: none;
    }
    .hideOnDesktop{
        display: block;
    }
    .content__text__div {
        width: 100%;
        min-width: 300px;
    }
    .boxgrid__item:nth-child(2) {
        flex: 1 0 0;
        max-width: none;
    }
    .masterhead__text {
        width: 40%;
        min-width: 245px;
    }
    .container__img {
        width: 48%;
        -webkit-transform: translateY(125px);
        -ms-transform: translateY(125px);
        transform: translateY(125px);
    }
    .masterhead__text p {
        font-size: 8pt;
        line-height: 12pt;
    }
    .navbar__title {
        height: 27px;
    }
    .navbar__icons{
        width: 100%;

        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .navbar__icons__img{
        width: 35px;
    }
}
@media screen and (max-width: 480px) {
    h1{
        font-size: 12pt;
    }

    .container__img{
        min-width: 190px;
    }
    .masterhead__text{
        margin-top: 30px;
        margin-left: 20px;
        min-width: 167px;
    }
    .container__img{
        -webkit-transform: translate(-80px, 100px);
        -ms-transform: translate(-80px, 100px);
        transform: translate(-80px, 100px);
    }
    .masterhead__text p {
        font-size: 7pt;
        line-height: 11pt;
    }
    .navbar__title{
        height: 21px;
    }
    .content__text{
        padding: 50px 0;
    }
    .boxgrid__item {
        min-width: 180px;
        padding: 36px 36px 0 36px;
        height: 230px;
    }
    .navbar__search, .navbar__menu{
        margin: auto 0;
        padding: 0 10px;
    }
    .navbar__icons__img{
        width: 25px;
    }
    .search--active{
        -webkit-transform: translateY(42px);
        -ms-transform: translateY(42px);
        transform: translateY(42px);
        width: 100%;
    }
    .search--active img{
        top: 5px;
        left: 17px;
    }
    #container{
        padding: 20px 20px 80px 20px;
    }
    .content__text__div{
        text-align: justify;
        min-width: 180px;
    }
    .boxgrid__item__details {
        height: 100px;
    }
}